#login-form {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin: 0px 20px;
}
#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: rgb(42, 190, 42);
}

#login-form input[type="submit"] {
  background-color: rgb(42, 190, 42);
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 20px 0px;
  margin-top: 12px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.p_form {
  margin: 0px;
  font-weight: bold;
}

.enterprise-area {
  margin-top: 100px;
}
